body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

.title {
    color: rgb(0, 0, 0);
    font-size: 80px;
    text-align: center;
    margin-top: 80px;
}

.pfp {
    display: inline-block;
    width: 190px;
    height: auto;
    position: relative;
    margin-top: 30px;
    border-radius: 5%;
    transition: 0.3s ease; 

}

.pfp:hover {
    transform: scale(1.05); 
    box-shadow: 0 0 30px red;   
}

.pfp_name {
    color: rgb(0, 0, 0);
    font-size: 50px;
    text-align: center;
    margin-top: 40px;
}

.flex-container {
    display: flex;
    justify-content: center;

}

.main-header {
   background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
   position: fixed;
   top: 0;
   right: 0; 
   left: 0;
   height: 48px;  
}
.header-info {
   text-align: left;
   background-color: rgb(0, 0, 0);
   position: absolute;
   margin-left: 20px;
   margin-top: 10px;
}
.header-info a {
   padding: 0;
   text-decoration: none;
   color: beige;
}
.header-info a:hover {
   color: bisque;
   background-color: gray;
}

nav {
  position: absolute;
  right: 0;
  display: flex;
}

a {
  text-decoration: none;
  color: beige;
  padding: 15px;
  float: left;
}

.main-header a:hover {
  background-color: gray;
}

.front-page-art {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    display: block;
}
