main {
    margin-top: 60px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: rgb(38, 70, 83);
    z-index: 100;
}

.header-icon{
    width: 40px;
    margin: 8px 15px;
    position: absolute;
}

.title {
    text-align: left;
    position: absolute;
    left: 20px;
    padding: 0;
    margin: 14px 30px 0px;
    color: rgb(244, 162, 97);
}

nav {
    position: absolute;
    right: 0;
    margin: 14px 30px 0px;
}

nav {
    margin: 14px 30px 0px;
}

a {
    color: rgb(244, 162, 97);
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}


#jumbotron {
    width: 100%;
}

.jumbotron {
    padding: 20px;
    text-align: center;
    background-color: rgb(38, 70, 83);
}

.header-flex {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.jumbotron-title {
    color: rgb(224, 251, 252);
    font-size: 30px;
    padding-bottom: 20px;
}

.jumbotron-text {
    color: rgb(224, 251, 252);
    text-align: left;
    padding-bottom: 20px;
    border-bottom: 8px solid rgb(244, 162, 97);
}

.jumbotron-img {
    height: 300px;
}

.mini-text-flex {
    display: flex;
    justify-content: flex-start;
}

.mini-text {
    color: rgb(224, 251, 252);
    text-align: left;
    margin-right: 5px;
}

.fa-hand-point-up {
    color: aliceblue;
    font-size: 20px;
}

.icon-down {
    display: none;
}

.fa-hand-point-down {
    color: aliceblue;
    font-size: 20px;
}

button {
    background-color: rgb(38, 70, 83);
    border-style: none;
}

button:hover {
    cursor: pointer;
    transform: translateY(5px);
}

.wave1 {
  position: absolute;
  top: 265px;
  z-index: 2;
}

.wave2 {
  position: absolute;
  top: 285px;
  z-index: 3;
}

.section-container {
    text-align: center;
    padding: 10px;
}
.section-title {
    font-size: 40px;
    margin: 50px 0 0;
}
.section-subtitle {
    font-size: 15px;
    color: gray;
    margin: 10px 0 0;
}
.about-flex-item {
    display: block;
}
.about-image {
    margin: 0;
}
.blob-image {
    width: 500px;
    height: auto;
    transform: rotate(-90deg);
}
.blogger-image {
    position: absolute;
    width: 200px;
    height: auto;
    left: 580px;
    top: 350px; 
}  

.about-description p {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 2px;
}

.about-description h4 {
    color: gray;
    letter-spacing: 2px;
}

.skills-flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}
.skill-item {
    box-shadow: 0 0 3px gainsboro;
    border-radius: 10px;
    padding: 15px;
    background-color: white;
}
.skill-item img {
    width: 200px;
    height: 180px;
}
.skill-item p {
    padding: 5px;
    box-shadow: 0 0 10px gainsboro;
    border-radius: 5px;
    background-color: rgb(243, 199, 117);
}

.activity-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
}

.activity-item {
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 3px gainsboro;
    border-radius: 5px;
    margin: 10px;
}

.activity-item img {
    width: 350px;
    height: auto;
}


